html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}

body {
    background: linear-gradient(rgba(94, 84, 84, 0.766), rgba(89, 28, 96, 0.807));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    background: linear-gradient(rgba(167, 155, 155, 0.766), rgba(89, 28, 96, 0.807));
    padding: 15px 25px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;

}

.header {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.header.color-one {
    color: rgba(15, 15, 110, 0.966);
    padding: 7px 0 7px;
}

.header.color-two {
    color: rgba(15, 110, 66, 0.966);
    padding: 7px 0 7px;
}

.header.color-three {
    color: rgb(168, 0, 0);
    padding: 7px 0 7px;

}

.header-desc {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 0 0 15px;
    color: rgb(62, 53, 53);
    margin-bottom: 50px;
}

.price {
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;


}

span.month {
    font-size: 15px;



}

a.button {
    display: inline-block;

    text-decoration: none;
    border-radius: 15px;
    background-color: rgb(15, 15, 159);
    color: rgba(255, 255, 255, 0.801);
    font-size: small;
    padding: 8px 28px;
    margin-top: 40px;
    margin-bottom: 60px;
    transition: background-color 200ms ease-in-out;




}

.features-item {


    line-height: 18px;
    color: rgb(41, 1, 1);
    margin-bottom: 25px;

}

.plan-one {
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(169, 158, 158);
}

.plan-two {
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(169, 158, 158);
}

.plan-three {
    border-bottom: none;
}



section .btn-mid {
    background-color: rgba(15, 110, 66, 0.966);

}

section .btn-last {
    background-color: rgb(168, 0, 0);


}

section .btn-first:hover,
section .btn-first:focus {
    background-color: rgb(78, 78, 187);
    transform: translatey(1px);
    box-shadow: inset -0.1px -1px 0.05px 0.005px #000;

}

section .btn-mid:hover,
section .btn-mid:focus {
    background-color: rgba(51, 135, 96, 0.966);

    transform: translateY(1px);
    box-shadow: inset -0.1px -1px 0.05px 0.005px #000;

}

section .btn-last:hover,
section .btn-last:focus {
    background-color: rgb(178, 84, 84);
    transform: translateY(1px);
    box-shadow: inset -0.1px -1px 0.05px 0.005px #000;
}

/* .plan-one:hover {
    transform: scale(1.05);

} */

@media(min-width:800px) {
    .panel {
        flex-direction: row;

    }

    .plan-one {
        border-bottom: none;
    }

    .plan-two {
        border-bottom: none;
    }



    .plan-one {
        border-right: 1px solid rgba(111, 68, 91, 0.559);
    }

    .plan-two {
        border-right: 1px solid rgba(111, 68, 91, 0.559);
        ;

    }

    .features-item {
        padding: 0 15px;
    }
}